{% set activeItem  = "about" %}
{% extends "layout.html" %}
{%block content %}
<div class="slick-next"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>

<?php if ( have_posts() ) : while ( have_posts() ) : the_post(); ?>
<!--post-->
<article class="services article">
	<h2 class="article__title"><a href="#"><?php the_title(); ?></a></h2>
	<p class="article__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
		Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Maecenas in magna mollis lectus lacinia mollis.
	</p>
	<div class="img-thumbnail pull-left">
		<img src="<?php bloginfo('template_url') ?>/images/articles/mike.jpg" alt="Mike">
	</div>
	<p> odio posuere facilisis.
		In ut felis erat, ac laoreet orci.</p>

	<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus.
		Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum.
		Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis.
		Aenean sodales nibh non lectus tempor a interdum justo ultricies.
		Sed luctus dui nec nisl tempus faucibus sit amet et sem.
		Aenean augue sapien, sodales ac bibendum ut, pellentesque id eros.</p>

	<p>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est.
		Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas.
		Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
		Maecenas in magna mollis lectus lacinia mollis.
		Donec sit amet volutpat lorem.
		Duis tristique porta aliquam.
		Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.</p>
	<footer class="article__footer">
		<div class="tags"><span><a href="#">Карта сайта</a>, <a href="#">WordPress</a></span></div>
	</footer>
</article>
<?php endwhile; ?>
<!-- post-navigation-->
<?php else: ?>
<!-- no posts found -->
<?php endif; ?>

<article class="testemonials">
	<blockquote class="testemonials__blockquote blockquote">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est.
		Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
		Mae trenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du tristique porta aliquam.
		Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
		Pellentesque ultric nisl quis odio posuere facilisis.
		In ut felis erat, ac laoreet orci donec sed nulla at sit amet.</blockquote>
</article>
{% endblock %}