{% extends "layout.html" %}
{% set activeItem  = "services" %}
{%block content %}
<div class="slick-next"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
<section class="services">
	<h2 class="section__title">Services</h2>
	<p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
		Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Maecenas in magna mollis lectus lacinia mollis.
	</p>
	<div class="services__panels">
		<div class="services__panel panel">
			<div class="panel__image"><div class="panel__icon camera"></div></div>
			<div class="panel__title">Photography bundle</div>
			<div class="panel__subtitle">The Professional Bundle For your Business</div>
			<div class="panel__text">Lorem ipsum dolor sit amet, consectetur adipis cing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
			</div>
		</div>
		<div class="services__panel panel">
			<div class="panel__image"><div class="panel__icon cart"></div></div>
			<div class="panel__title">Wedding bundle</div>
			<div class="panel__subtitle">The Professional Bundle For your Business</div>
			<div class="panel__text">Lorem ipsum dolor sit amet, consectetur adipis cing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
			</div>
		</div>
		<div class="services__panel panel">
			<div class="panel__image"><div class="panel__icon features"></div></div>
			<div class="panel__title">Development bundle</div>
			<div class="panel__subtitle">The Bundle With all the foodies for your website </div>
			<div class="panel__text">Lorem ipsum dolor sit amet, consectetur adipis cing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
			</div>
		</div>
		<div class="services__panel panel">
			<div class="panel__image"><div class="panel__icon user"></div></div>
			<div class="panel__title">Social media bundle</div>
			<div class="panel__subtitle">Help deck Out your social media profiles</div>
			<div class="panel__text">Lorem ipsum dolor sit amet, consectetur adipis cing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.
			</div>
		</div>
	</div>
</section>
<section class="testemonials">
	<h2 class="section__title testemonials__title">Testemonials</h2>
	<blockquote class="testemonials__blockquote blockquote">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est.
		Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
		Mae trenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du tristique porta aliquam.
		Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
		Pellentesque ultric nisl quis odio posuere facilisis.
		In ut felis erat, ac laoreet orci donec sed nulla at sit amet.</blockquote>
</section>
<p>Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
	Mae trenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du tristique porta aliquam.
	Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
	Pellentesque ultric nisl quis odio posuere facilisis.
	In ut felis erat, ac laoreet orci donec sed nulla at sit amet
	Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
	Mae trenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du tristique porta aliquam.
	Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
	Pellentesque ultric nisl quis odio posuere facilisis.
	In ut felis erat, ac laoreet orci donec sed nulla at sit amet
	Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
	Mae trenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du tristique porta aliquam.
	Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
	Pellentesque ultric nisl quis odio posuere facilisis.
	In ut felis erat, ac laoreet orci donec sed nulla at sit amet
	Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
	Mae trenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du tristique porta aliquam.
	Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
	Pellentesque ultric nisl quis odio posuere facilisis.
	In ut felis erat, ac laoreet orci donec sed nulla at sit amet
	Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
	Mae trenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du tristique porta aliquam.
	Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
	Pellentesque ultric nisl quis odio posuere facilisis.
	In ut felis erat, ac laoreet orci donec sed nulla at sit amet</p>
{% endblock %}