<footer class="mainfooter">
	<div class="slider-progress">
		<div class="progress"></div>
	</div>
	<div class="mainfooter__container">
		<div class="mainfooter__row">
			<div class="mainfooter__nav">
				{% include "offcanvas.html" %}
			</div>
		</div>
		<div class="copyrights mainfooter__copyrights">
			<span class="copyrights__text">Copyright Folio 2012. All Rights Reserved.</span>
		</div>
	</div><!-- /.container-->
</footer>