<div class="logo_block">
	<a class="logo_block-inner" href="/">
		<svg class="logo_block-title" id="logo" width="100%" height="70px"></svg>
		<div class="logo_block-subtitle">Photography & Design</div>
	</a>
</div>