<!-- SCRIPTS-->
<!-- build:js ../js/vendor.js -->
<!-- bower:js -->
<script src="../js/vendor/jquery.min.js"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
<!--<script src="js/vendor/jquery.scrollTo.min.js"></script>-->
<script src="../js/vendor/html5.js"></script>
<script src="../js/vendor/snap.svg-min.js"></script>
<script src="../js/vendor/snap-extended.js"></script>
<script src="../js/vendor/slick.min.js"></script>
<!--<script src="../js/vendor/jquery.fullPage.min.js"></script>-->
<script src="../js/vendor/bootstrap-portfilter.min.js"></script>
<script src="../js/vendor/bootstrap.offcanvas.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js ../js/common.js -->
<!--<script src="js/common/accordion.js"></script>-->
<!--<script src="js/common/scrollToInit.js"></script>-->
<script src="../js/common/slickInit.js"></script>
<!--<script src="js/common/fullPageInit.js"></script>-->
<!--<script src="js/common/stickyMenu.js"></script>-->
<script src="../js/main.js"></script>
<!-- endbuild -->
<!--END SCRIPTS-->