{% set activeItem  = "about" %}
{% extends "layout.html" %}
{%block content %}
<div class="slick-next"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
<section class="services">
	<h2 class="section__title">About Us</h2>
	<p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
		Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Maecenas in magna mollis lectus lacinia mollis.
	</p>
	<div class="article">
		<div class="img-thumbnail pull-left">
			<img src="images/articles/mike.jpg" alt="Mike">
		</div>
		<div class="article__description">
			<p>Maecenas ipsum metus, semper hendrerit varius mattis, hasr congue sit amet tellus.
				Aliquam ullamcorper dui sed magna posuere ut elem entum enim rutrum.
				Nam mi erat, porta idso ultrices nec, pellentesq ue vel nunc. Cras varius fermentum iaculis.
				Aenean sodales nibh non lectus tempor a interdumni justo ultricies.
				Sed luctus dui nec ni  sl tem pus faucibus sit amet et sem.
				Aenean augue sapien, sodales ac bibendum ut, pellentesque id eros. Duis tristique porta aliquam.
				Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
				Pellentesque ultricies nisl quis odio posuere facilisis.
				In ut felis erat, ac laoreet orci. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
				Maecenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem.
				Pellentesque ultricies nisl quis odio posuere facilisis.
				In ut felis erat, ac laoreet orci.</p>

			<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus.
				Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum.
				Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis.
				Aenean sodales nibh non lectus tempor a interdum justo ultricies.
				Sed luctus dui nec nisl tempus faucibus sit amet et sem.
				Aenean augue sapien, sodales ac bibendum ut, pellentesque id eros.</p>

			<p>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est.
				Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas.
				Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
				Maecenas in magna mollis lectus lacinia mollis.
				Donec sit amet volutpat lorem.
				Duis tristique porta aliquam.
				Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.</p>
		</div>
	</div>
</section>
<section class="testemonials">
	<blockquote class="testemonials__blockquote blockquote">Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est.
		Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem.
		Mae trenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du tristique porta aliquam.
		Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae.
		Pellentesque ultric nisl quis odio posuere facilisis.
		In ut felis erat, ac laoreet orci donec sed nulla at sit amet.</blockquote>
</section>
{% endblock %}