{% extends "layout.html" %}
{% set activeItem  = "contact" %}
{%block content %}
<div class="slick-next"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
<section class="contacts">
	<h2 class="section__title">Contact Us</h2>
	<p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
		Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Maecenas in magna mollis lectus lacinia mollis.
	</p>
	<form class="contact-form">
		<div class="form-group">
			<input type="text" class="form-control" id="firstName" placeholder="First Name">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" id="lastName" placeholder="Last Name">
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		</div>
		<div class="form-group">
			<textarea name="message"  class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Send</button>
	</form>
</section>
{% endblock %}