{% set content = false %}
{% extends "layout.html" %}
{%block topblock %}
<div class="featured">
	<div class="featured-title"><span>Featured</span></div>
	<div class="featured-subtitle"><span>Wedding Photography Shoot</span></div>
</div>
{% endblock %}