{% extends "layout.html" %}
{% set activeItem  = "portfolio" %}
{% set pageClass  = "portfolioPage" %}
{%block content %}
<div class="slick-next"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
<section class="portfolio">
	<h2 class="section__title">portfolio</h2>
	<div class="sortbuttons">
		<button class="btn btn-filter" data-toggle="portfilter" data-target="all">All</button>
		<button class="btn  btn-filter" data-toggle="portfilter" data-target="wedding">Wedding</button>
		<button class="btn btn-filter" data-toggle="portfilter" data-target="landScape">LandScape</button>
		<button class="btn btn-filter" data-toggle="portfilter" data-target="portrait">Portrait</button>
		<button class="btn btn-filter" data-toggle="portfilter" data-target="events">Events</button>
	</div>
	<ul class="thumbnails gallery text-center">
		<li class="photo wow zoomInUp" data-tag="wedding">
			<a href="#" class="thumbnail">
				<img alt="Neque Porro Quisquam" src="images/portfolio/1.jpg">
				<div class="photo__caption">
					<h4 class="photo__caption__title">Neque Porro Quisquam</h4>
				</div>
			</a>
		</li>
		<li class="photo wow zoomInUp" data-tag="portrait">
			<a href="#" class="thumbnail">
				<img alt="Neque Porro Quisquam" src="images/portfolio/2.jpg">
				<div class="photo__caption">
					<h4 class="photo__caption__title">Neque Porro Quisquam</h4>
				</div>
			</a>
		</li>
		<li class="photo wow zoomInUp" data-tag="landScape">
			<a href="#" class="thumbnail">
				<img alt="Neque Porro Quisquam" src="images/portfolio/3.jpg">
				<div class="photo__caption">
					<h4 class="photo__caption__title">Neque Porro Quisquam</h4>
				</div>
			</a>
		</li>
		<li class="photo wow zoomInUp" data-tag="landScape">
			<a href="#" class="thumbnail">
				<img alt="Neque Porro Quisquam" src="images/portfolio/4.jpg">
				<div class="photo__caption">
					<h4 class="photo__caption__title">Neque Porro Quisquam</h4>
				</div>
			</a>
		</li>
		<li class="photo wow zoomInUp" data-tag="portrait">
			<a href="#" class="thumbnail">
				<img alt="Neque Porro Quisquam" src="images/portfolio/5.jpg">
				<div class="photo__caption">
					<h4 class="photo__caption__title">Neque Porro Quisquam</h4>
				</div>
			</a>
		</li>
		<li class="photo wow zoomInUp" data-tag="events">
			<a href="#" class="thumbnail">
				<img alt="Neque Porro Quisquam" src="images/portfolio/6.jpg">
				<div class="photo__caption">
					<h4 class="photo__caption__title">Neque Porro Quisquam</h4>
				</div>
			</a>
		</li>
		<li class="photo wow zoomInUp" data-tag="portrait">
			<a href="#" class="thumbnail">
				<img alt="Neque Porro Quisquam" src="images/portfolio/7.jpg">
				<div class="photo__caption">
					<h4 class="photo__caption__title">Neque Porro Quisquam</h4>
				</div>
			</a>
		</li>
		<li class="photo wow zoomInUp" data-tag="landScape">
			<a href="#" class="thumbnail">
				<img alt="Neque Porro Quisquam" src="images/portfolio/8.jpg">
				<div class="photo__caption">
					<h4 class="photo__caption__title">Neque Porro Quisquam</h4>
				</div>
			</a>
		</li>
		<li class="photo wow zoomInUp" data-tag="wedding">
			<a href="#" class="thumbnail">
				<img alt="Neque Porro Quisquam" src="images/portfolio/9.jpg">
				<div class="photo__caption">
					<h4 class="photo__caption__title">Neque Porro Quisquam</h4>
				</div>
			</a>
		</li>
	</ul>
	<ul class="portfolio__nav">
		<li class="portfolio__nav__item portfolio__nav__item--active">
			<a href="javascript:void(0)">1</a>
		</li>
		<li class="portfolio__nav__item">
			<a href="javascript:void(0)">2</a>
		</li>
		<li class="portfolio__nav__item">
			<a href="javascript:void(0)">3</a>
		</li>
	</ul>
</section>
{% endblock %}