//LOGO
.logo_block {
  @include make-xs-column(5);
  &-subtitle {
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
  }
  margin-bottom:85px;
  @media screen and (max-width:992px) {
    margin-bottom:20px;
  }
}

.logo_block-inner {
  display: block;
  width:220px;
  padding:10px 40px 20px;
  background:#fff;
  color:#000;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}