.navbar-default {
  border:none;
}

.nav__item a {
  font-family: $ostrich;
  text-transform: uppercase;
  font-size: 18px;
}

.nav__item.current-menu-item::after {
  content:"";
  position: absolute;
  top:-18px;
  width: 0;
  height: 0;
  border:8px solid transparent;
  border-bottom:4px solid #fff;
  right:0;
  left:0;
  margin:0 auto;
}

.nav__item.current-menu-item a {
  color:$brand-primary!important;
}