.vertical-slider-container {
  position: relative;
  @include clearfix;
  max-width:190px;
}

.vertical-slider-container__counter {
  position: absolute;
  display: inline-block;
  top:20px;
  right:15px;
  z-index: 1;
}

.fullscreenSliderBlock {
  height: 100%;
  width: 100%;
  background-color: #eee;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.fullscreen-slider {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.fullscreen-slider .slick-list,
.fullscreen-slider .slick-track {
  height: 100%;
}


.fullscreen-slider__item {
  width: 100%;
  height: 100%;
  background-size:cover!important;
  background-repeat: no-repeat;
  background-position: center center;
}


.fullscreen-slider__photo {
  width: 100%;
  height: 100%;
}

.fullscreenSliderBlock {
  background-color: #ccc;
}

//VERTICAL SLIDER
.vertical-slider {
  position: relative;
  padding:50px 15px 0 15px;
  background: #fff;
}

.vertical-slider .slick-list {
  overflow: hidden;
}

.vertical-slider__item {
  transition:transform .6s ease-in;
  margin-bottom:15px;
  &.slick-center {
    transform:scale(0.92);
    //box-shadow: 0 2px 10px 2px #ffd700;
    box-shadow: 0 2px 10px 2px $brand-primary;
  }
}

/* progress bar */
.slider-progress {
  width: 100%;
  height: 7px;
  //height: 0;
  margin:0 -15px;
}
.slider-progress .progress {
  position: relative;
  top: -7px;
  width: 0%;
  height: 7px;
  background: rgba(0, 0, 0, .2);
}

.slick-prev,
.slick-next {
  display: none;
}

.btnPlay {
  background: none;
  border:none;
  position: absolute;
  z-index: 1;
  top:20px;
  left:15px;

}

.navbar-nav {
  @media (max-width: $screen-xs-max) {
    margin:0;
  }
}

.navbar-offcanvas  {
  overflow: auto;
}