body {
  min-height:100%;
  height: 100%;
}

.blockquote {
  position: relative;
  font-style: italic;
  padding-left:4rem;
  border-left:none;
  font-size:1.2rem;
  &::before {
    position: absolute;
    left: -15px;
    top:-10px;
    content:'"';
    font-size:7.2rem;
    color:$brand-primary;
  }
}

.btn-filter {
  padding:2px 12px 0;
  line-height: .8;
  background: none;
  text-transform: uppercase;
  font-family: $ostrich;
  font-size:1.8rem;
  border-right:2px solid $text-color;
  outline:none;
  box-shadow: none;
  &:focus,
  &:active {
    outline:none!important;
    box-shadow: none;
  }
  &::-moz-focus-inner {
    border: 0;
  }
  &.active {
    color:$brand-primary;
    box-shadow: none;
  }
  @media screen and (max-width: 768px) {
    display: block;
    margin:7px 0;
  }
}

#fullpage {
  padding:0 15px;
}

#fullpage {
  padding:0 15px;
}

.l-container {
  @extend .container;
  @media (max-width:1199px) {
    margin-left:50px;
  }
  @media (max-width:992px) {
    margin-left:auto;
  }
}

.l-row {
  @include make-row;
}

.leftblock {
  @include make-sm-column(12);
  padding-bottom:100px;
}

/*--- PORTFOLIO ---*/
.portfolio .gallery {
  padding:0;
}

.portfolio li {
  list-style-type: none;
  padding:5px;
}

.portfolio img {
  width:100%;
}

.portfolioPage {
  & .section__title {
    float:left;
    @media screen and (max-width:768px) {
      float:none;
    }
  }
  & .sortbuttons {
    @include clearfix;
    position: relative;
    top:15px;
    text-align: right;
    @media screen and (max-width:768px) {
      position: inherit;
    }
  }
}

.sortbuttons .btn-filter:last-child {
  border:none;
}

.photo {
  @include make-sm-column(6);
  @include make-md-column(4);
}

.photo a {
  display: block;
  position: relative;
  &:hover  {
    & .photo__caption {
      opacity:1;
    }
  }
}


.photo__caption {
  display:flex;
  text-align:center;
  flex-wrap:wrap;
  align-items: center;
  position: absolute;
  left:0;
  right:0;
  margin:0 auto;
  bottom:0;
  height:100%;
  opacity:0;
  z-index:1;
  padding:5px;
  transition: all .3s ease-in;
  background: rgba(0, 0, 0, .7);
  height:100%;
  color:#fff;
}

.photo__caption__title {
  width:100%;
  text-transform: uppercase;
  color:#fff;
  &:before {
    content:"\f002";
    display: block;
    margin:0 auto;
    margin-bottom:20px;
    padding:23px;
    background: rgba(255, 255, 255, .4);
    border-radius: $border-radius-sm;
    max-width:72px;
    font-family: FontAwesome;
    color:#000;
    font-size: 2.8rem;
  }
}

.portfolio__nav {
  @include clearfix;
  clear:both;
  margin: 0;
  padding: 0;
}

.portfolio__nav__item {
  float:left;
  margin-right:1rem;

  a {
    color:$gray-dark;
    font-size: 1.8rem;
    font-family: $ostrich;
    &:hover {
      text-decoration: none;
      color:darken($brand-primary, 10%);
    }
  }

  &--active a {
    color:$brand-primary;
  }
}

/*--- PORTFOLIO BLOCK END ---*/
.vertical-slider-container {
  float: right;
}

.galleryBlock {
  position:fixed;
  top:0;
  right:10%;
  @media (max-width:1500px) {
    right:5%;
  }
  @media (max-width:1280px) {
    right:3%;
  }
  @media (max-width:992px) {
    display:none;
  }
}



//FOOTER
.copyrights__text {
  font-size: 1rem;
}
.mainfooter {
  //position: relative;
  background-color: #fff;
  padding:0 15px;
  z-index: 9999;

  &__container {
    @extend .container;
  }
  &__row {
    @include make-row;
  }

  &__navDivider {
    position: absolute;
    top: -7px;
    width: 50%;
    height: 7px;
    background: #ccc;
  }

  &__nav {
    @include make-xs-column(12);
  }

  &__copyrights {
    position: fixed;
    bottom:0;
    display: inline-block;
    padding:14px 0;
    text-align: right;
    right:10%;
    @media (max-width:1500px) {
      right:5%;
    }
    @media (max-width:1280px) {
      right:3%;
    }
  }
}

.main-menu__title {
  display:none;
}

//FEATURED
.featured-title span {
  display: inline-block;
  padding:$padding-base-vertical $padding-base-horizontal;
  background: #6f6f6f;
  color:#fff;
  text-transform: uppercase;
  font-size: 4rem;
  font-family:$ostrich;
}

.featured-subtitle span {
  display: inline-block;
  padding: 15px 20px;
  background: #fff;
  color:$gray-dark;
  font-size: 1.8rem;
  font-style: italic;;
}


//ICONS
.camera,
.cart,
.features,
.user {
  display: inline-block;
  background: url('../images/icons/services/services-sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.camera { background-position: -10px -0px; width: 60px; height: 60px; }
.cart { background-position: -80px -0px; width: 60px; height: 60px; }
.features { background-position: -10px -70px; width: 60px; height: 60px; }
.user { background-position: -80px -70px; width: 60px; height: 60px; }

//CONTENT START HERE
.content {
  @include clearfix;
  position: relative;
  background: $whiteTransparency;
  padding:20px $padding-md;
}

.section__title {
  margin-bottom:$margin-md;
  @media screen and (max-width: 768px) {
    margin-bottom: 15px;
  }
}

.section__title::before {
  display: inline-block;
  content:"";
  width: 3px;
  height: 16px;
  margin-right: 10px;
  background: $brand-primary;
}

.section__description {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom:$margin-md;
}

.services__panels {
  @include make-row;
}

.services__panel {
  @include make-sm-column(5);
  margin-bottom:$margin-md;
  &:nth-child(2n) {
    @include make-sm-column-offset(2)
  }
}


//PANEL
.panel__image {
  display: inline-block;
  margin-right: 10px;
  margin-bottom:$margin-sm;
  background: $brand-primary;
  float:left;
}

.panel__title {
  font-family: $headings-font-family;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.panel__subtitle {
  font-size:1.4rem;
  line-height: 1.8rem;
  font-style: italic;
  color:#aeaeae;
}
.panel__icon {}

.panel__text {
  clear:both;
}

#sliderButton {
  position: absolute;
  top:-35px;
  right:0;
  padding:10px 12px 4px;
  background: $whiteTransparency;
  &:focus {
    outline: none;
  }
  & span {
    font-size:16px;
  }

  @media screen and (max-width:992px) {
    display: none;
  }
}


/*-- ARTICLE --*/
.article .pull-left {
  margin-right:20px;
  margin-bottom:15px;
}

