<div class="fullscreen-slider slider">
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/1.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/2.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/3.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/4.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/2.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/10.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/11.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/13.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/14.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/2.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/1.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/3.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/2.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/10.jpg)"></div>
    <div class="fullscreen-slider__item" style="background-image:url(images/gallery/14.jpg)"></div>
</div>


<!--<div class="fullscreen-slider">
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/10.jpg" alt="Wedding Photography Shoot"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/11.jpg" alt="photo 11"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/12.jpg" alt="photo 12"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/13.jpg" alt="photo 13"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/14.jpg" alt="photo 14"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/15.jpg" alt="photo 15"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/16.jpg" alt="photo 16"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/14.jpg" alt="photo 14"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/11.jpg" alt="photo 11"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/13.jpg" alt="photo 13"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/14.jpg" alt="photo 14"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/13.jpg" alt="photo 13"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/12.jpg" alt="photo 12"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/11.jpg" alt="photo 11"></div>
    <div class="fullscreen-slider__item slide"><img class="fullscreen-slider__photo" src="images/gallery/16.jpg" alt="photo 16"></div>
</div>-->
