<!-- layout.html -->

<!doctype html>
<html lang="en">
<head>
	<title>Folio</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/vendor.css">
	<link rel="stylesheet" href="css/styles.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body {%if pageClass %} class="{{pageClass}}" {% endif %}>
<div id="fullpage">
	<div class="fullscreenSliderBlock">
		{% include "fullscreen_slider.html" %}
	</div>
	<div class="l-container">
		<div class="l-row">
			<div class="leftblock">
				<div class="l-row">
					{% include "logo.html" %}
				</div>
					{% block topblock %}
					{% endblock %}
				{% if not(content == false) %}
				<main class="content">
					<button id="sliderButton" class="btn">
						<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
					</button>
					{% block content %} {% endblock %}
				</main>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="galleryBlock">
		{% include "vertical_slider.html" %}
	</div>
</div>
{% include "footer.html" %}
<!-- SCRIPTS-->
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<!--<script src="js/vendor/jquery.scrollTo.min.js"></script>-->
<script src="js/vendor/snap.svg-min.js"></script>
<script src="js/vendor/snap-extended.js"></script>
<script src="js/vendor/slick.min.js"></script>
<!--<script src="js/vendor/classie.js"></script>-->
<!--<script src="js/vendor/woco.accordion.js"></script>-->
<script src="js/vendor/jquery.fullPage.min.js"></script>
<script src="js/vendor/bootstrap-portfilter.min.js"></script>
<script src="js/vendor/bootstrap.offcanvas.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/common.js -->
<!--<script src="js/common/accordion.js"></script>-->
<!--<script src="js/common/scrollToInit.js"></script>-->
<script src="js/common/slickInit.js"></script>
<!--<script src="js/common/fullPageInit.js"></script>-->
<!--<script src="js/common/stickyMenu.js"></script>-->
<script src="js/main.js"></script>
<!-- endbuild -->
<!--END SCRIPTS-->
</body>
</html>
