{# For example: menuItems =  {text:"some Item Text", class:"some-item-class", href:"some-item-link"} #}
{% macro menu(menuClass="nav", activeItem, menuItems, breadcrumbs = false) %}

{% for i in range(0, menuItems.length) %}
<li class="{{menuClass}}__item {% if menuItems[i].class %} {{menuClass}}__item--{{menuItems[i].class}} {%if activeItem == menuItems[i].class %} {{menuClass}}__item--active {% endif %}{% endif %}">
	{%  if  (i == menuItems.length-1) and breadcrumbs %}
        {{menuItems[i].text}}
	{% else %}
	    <a href="{{menuItems[i].href}}" class="{{menuClass}}__item__link {% if menuItems[i].class %} {{menuClass}}__item__link--{{menuItems[i].class}}{% endif %}"><span>{{menuItems[i].text}}</span></a>
	{% endif %}
</li>
{% endfor %}
{% endmacro %}