			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a class="navbar-brand" href="/"><img src="images/logo.png" alt="Pilgrim Education"> </span></a>-->
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="nav__item nav__item--active"><a class="nav__item__link"  data-attr-scroll="what-u-get" href="#"><span>Home</span></a></li>
						<li class="nav__item"><a class="nav__item__link" href="#" data-attr-scroll="education"><span>About</span></a></li>
						<li class="nav__item"><a class="nav__item__link" href="/services.html" data-attr-scroll="questions"><span>Services</span></a></li>
						<li class="nav__item"><a class="nav__item__link" href="#" data-attr-scroll="questions"><span>Portfolio</span></a></li>
						<li class="nav__item"><a class="nav__item__link" href="#" data-attr-scroll="questions"><span>Contact</span></a></li>

					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>