<nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">Brand</a>-->
            <button type="button" class="navbar-toggle offcanvas-toggle pull-left" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;">
                <span class="sr-only">Toggle navigation</span>
                        <span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </span>
            </button>
        </div>
        <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
            <ul class="nav navbar-nav">
                {% if not(activeItem) %}
                   {% set activeItem = "home" %}
                {% endif %}
                {% if not(navMenuItems) %}
                {% set navMenuItems =  [
                {text:"Home", class:"home", href:"index.html"},
                {text:"About", class:"about", href:"about.html"},
                {text:"Services", class:"services", href:"services.html"},
                {text:"Portfolio", class:"portfolio", href:"portfolio.html"},
                {text:"Contact", class:"contact", href:"contact.html"}
                ]%}
                {% endif %}
                {% import 'menuMacros.njk' as nav %}
                {{nav.menu(menuClass="nav", activeItem, menuItems=navMenuItems)}}
            </ul>
        </div>
</nav>