<div class="vertical-slider-container">
	<button class="btnPlay"><i class="fa fa-pause" aria-hidden="true"></i></button>
	<div class="vertical-slider-container__counter"><span class="currentNum"></span>/<span class="allNum"></span></div>
	<div class="vertical-slider slider">
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/1.jpg"
												alt="Wedding Photography Shoot"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/2.jpg"
												alt="photo 2"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/3.jpg"
												alt="photo 3"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/4.jpg"
												alt="photo 4"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/2.jpg"
												alt="photo 5"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/10.jpg"
												alt="photo 10"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/11.jpg"
												alt="photo 11"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/13.jpg"
												alt="photo 13"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/14.jpg"
												alt="photo 14"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/2.jpg"
												alt="photo 2"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/1.jpg"
												alt="photo 1"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/3.jpg"
												alt="photo 3"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/2.jpg"
												alt="photo 5"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/10.jpg"
												alt="photo 10"></div>
		<div class="vertical-slider__item"><img class="vertical-slider__photo" src="images/gallery/thumbnails/14.jpg"
												alt="photo 14"></div>
	</div>
</div>