//FONTS
@font-face {
    font-family: 'Ostrich';
    src: url("../fonts/OstrichSans/ostrich-sans-black.eot");
    src: url("../fonts/OstrichSans/ostrich-sans-black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OstrichSans/ostrich-sans-black.woff") format("woff"),
    url("../fonts/OstrichSans/ostrich-sans-black.ttf") format("truetype"),
    url("../fonts/OstrichSans/ostrich-sans-black.svg") format("svg");
    font-weight: normal;
    font-style: normal; }



@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico/pacifico.eot");
    src: url("../fonts/Pacifico/pacifico.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Pacifico/pacifico.woff") format("woff"),
    url("../fonts/Pacifico/pacifico.ttf") format("truetype"),
    url("../fonts/Pacifico/pacifico.svg") format("svg");
    font-weight: normal;
    font-style: normal; }

//FONTS END

