*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }


@mixin textshadow($blur, $color) {
  text-shadow: 2px 0 $blur $color, -2px 0 $blur $color, 0 2px $blur $color, 0 -2px $blur $color, 1px 1px $color, -1px -1px $blur $color, 1px -1px $blur $color, -1px 1px $blur $color;
}

@mixin tiny-textshadow($blur, $color) {
  text-shadow: 1px 0 $blur $color, -1px 0 $blur $color, 0 1px $blur $color, 0 -1px $blur $color, 1px 1px $color, -1px -1px $blur $color, 1px -1px $blur $color, -1px 1px $blur $color;
}